/* this is class for the main div of home page */
.maincontainer{
    /* display: flex; */
    justify-content: space-between;
    width: 100vw;
    /* height: 100vh; */
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.838);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    align-items: center; 
    background-image: url("../assets/photo.jpg");
    background-size:cover;
    background-repeat: repeat;
    background-blend-mode: lighten ;
    
}


h1{
    text-align: center;
    width: 100vw;
    color: #ddd;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color:rgb(104, 97, 97) ; */
    text-shadow: 2px 2px rgb(149, 141, 141);
    background: rgb(227,200,170);
    background: linear-gradient(74deg, rgba(227,200,170,1) 0%, rgba(66,40,26,1) 66%, rgba(227,200,170,1) 100%);
    padding-top: 3px;
    padding-bottom: 3px;
}

/* class for the search bar */
.search-bar{
    width: 100%;
    height: 25px;
    padding: auto;
    margin-bottom: 20px;
    border: 1px solid  #ccc;
    border-radius: 5px;
    align-content: center;

}


select{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;

}

table{
    width: 100% ;
    /* border-collapse: collapse; */
    margin-top: 20px;
    border-color: rgb(41, 37, 37);
    
}

table, th, td{
    border: 1px solid #ddd;
}

th, td{
    padding: 10px;
    text-align: left;
}

th{
    background-color: #f4f4f4;
    color: rgb(60, 36, 36);
}

.link{
    text-decoration: none;
    color: rgb(60, 36, 36);
}

.link:hover{
    text-decoration: underline;

}

/* class for  "borrow history button"*/
.button{
    display: inline-block;
    padding: 20px, 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(149, 141, 141);
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    border: #0056b3;
}

.button:hover{
    background-color: #0056b3;
}

img{
    width: 500px;
    height: 700px;
    margin: 20px;
}

/* for main content div of book details page */
.flexed{
    display: flex;
}
strong{
    color: rgb(60, 36, 36);
}

/* class for enter button */
.enter-button{
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); }
    
/* class for home button on entrance/ landing page */
.home-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: rgb(149, 141, 141);
    text-decoration: none;
    border-radius: 8px;
    /* transition: background 0.3s ease; */
    font-weight: bold;
    text-align: center;
}

/* to add background image to entrance/ landing page */
.main-div{
    background-image: url(../assets/photo2.jpg);
    position: relative;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center center  ;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}

/* for background image at book details page */
.bd{
    background-color: rgb(177, 165, 165);
    padding: 5px;
}
.homebutton{
    color: white;
}